.form-group input
{
    width: 400px;
    margin: 0 auto 0 auto;
}

.login-form
{
    text-align: center;
}

.scroll
{
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

table.list td, table.list th
{
    width: 16%;
}

.border
{
    border: 1px solid red;
}

.align-left
{
    width: 400px;
}

#img-list
{
    background-color: #fff;
    width: 100%;
}

#img-list .img-conteiner
{
    float: left;
    margin: 10px;
}

#img-list .img-conteiner img
{
    width: 215px;
}

#img-list .img-conteiner p
{
    text-align: center;
    font-size: 12px;
}

#img-list p
{
    text-align: center;
    font-size: 16px;
    height: 80px;
}

.clr
{
    clear:both;
}

a#select-all-img
{
    float:left;
}

a#unselect-all-img
{
    float:right;
}

.img-del-btn
{
    margin: 10px 0 10px 0;
}


.img-list-wrap
{
    display: none;
}